.aui .core-2 .materialize .collection.competenze .collection-item.avatar {
    min-height: 64px;
    padding-left: 20px;
    position: relative;
    align-items: center;
    display: flex;
    -webkit-align-items: center;
    display:  -webkit-flex;
}

.competenze .secondary-content .linkAvatar > img {
    
    margin-right: 0.3em;
    width: 2em;
}

.competenze .material-icons {
    vertical-align: middle;
}

.competenze .endorsementCounter {
    border-radius: 2px;
    margin-right: 10px;
    padding: 3px;
}

.pointer {
	cursor: pointer;
}